* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header{
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}